.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: deepskyblue;
  // background-color: darkseagreen;
  height: 100px;
  & > div {
    height: 100%;
    // background-color: darkslategrey;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }
  &__s {
    font-size: 6em;
  }
  &__ms {
    font-size: 3em;
  }
  &__active {
    color: crimson;
  }
}
@media (max-width: 414px) {
  .timer {
    height: 70px;
    & > div {
      width: 65px;
    }
    &__s {
      font-size: 4em;
    }
    &__ms {
      font-size: 1.5em;
    }
  }
}
@media (max-width: 320px) {
  .timer {
    height: 45px;
    & > div {
      width: 40px;
    }
    &__s {
      font-size: 3em;
    }
    &__ms {
      font-size: 1em;
    }
  }
}
