.button {
  font-size: 2.5em;
  padding: 1.5em 1em;
  background-color: dodgerblue;
  border-radius: 50%;
  color: #2d2d2d;
  &:hover {
    background-color: lightseagreen;
    color: snow;
  }
}
.disabled {
  opacity: 0.5;
  &:hover {
    background-color: dodgerblue;
    color: #2d2d2d;
  }
}
.clickMe {
  box-shadow: 0 0 10px 5px tomato;
  color: gold;
}
.isClick {
  transition: all 0s ease-in-out;
  box-shadow: inset 0 0 0px 10px #2d2d2d, inset 0 0 30px 10px #000;
}

@media (max-width: 600px) {
  .button {
    font-size: 2em;
    padding: 1.5em 1em;
  }
}
@media (max-width: 414px) {
  .button {
    font-size: 1.5em;
    padding: 1.5em 1em;
  }
}
