.app {
  height: 100%;
}
.title__box {
  margin-bottom: 2em;
}
.timer__box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.display__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  padding: 5px 50px;
  width: 100%;
  margin-bottom: 70px;
}
.group-buttons__box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


@media (max-width: 600px) {
  .display__box {
    margin-bottom: 1em;
  }
}
@media (max-width: 456px) {
  .display__box {
    margin-bottom: 1em;
    padding: 0 70px;
  }
  .timer__box {
    margin-bottom: 0.8em;
  }
  .span__box{
    margin-bottom: 5px;
  }
}
@media (max-width: 414px) {
  .title__box {
    margin-bottom: 0.9em;
  }
  .display__box {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .display__box {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 344px) {
  .display__box {
    flex-direction: row;
    margin-bottom: 1.3em;
    padding: 0 50px;
  }
}
@media (max-width: 320px) {
  .title__box {
    margin-bottom: 0em;
  }
  .timer__box {
    margin-bottom: 0em;
  }
  .display__box {
    flex-direction: column;
    margin-bottom: 1em;
  }
}