.app {
  height: 100%;
}
.title__box {
  margin-bottom: 2em;
}
.timer__box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.display__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 450px;
  padding: 5px;
  width: 100%;
  margin-bottom: 70px;
}
